#pragma once  // Le indica al compilador que procese este fichero solo una vez por compilacion

//* 
 * Instrucciones para el usuario:
 * 1) Copia este ejemplo y renombralo como communication_secrets.h  
 * 2) Rellena tu WIFI_SSID, WIFI_PASSWORD y MQTT_URI con tus credenciales  
 * 3) El fichero communication_secrets.h no se subirá al repositorio para proteger las credenciales
 */

static const char* WIFI_SSID     = "TU_SSID_AQUI";            // Se define el nombre de la red Wi-Fi a la que se conectará el dispositivo.
static const char* WIFI_PASSWORD = "TU_PASSWORD_AQUI";        // Se define el nombre de la contraseña de esa red Wi-Fi a la que se conectará el dispositivo.
static const char* MQTT_URI      = "mqtt://TU_BROKER:1883";   // URL del broker MQTT: protocolo, dirección del servidor y puerto.
                                                              // El programa usará esta cadena para abrir la conexión MQTT.
